
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:wght@300;400&family=K2D:wght@300;400&family=Merriweather:wght@300;400&display=swap');



body {
    margin: 0;
}


//main, header and bodies

.main {
    background-color: #f5f5f5;

    &__header {
        display: flex;
        justify-content: flex-end;
        padding: 0.5em 25vw;
        background-color: #1E86DF;
        color: #FFFFFF;
        font-family: 'Inter',sans-serif;

        &__list {
            text-decoration: none;

            &__item{
                display: inline-block;
                padding: 0.6rem 1rem;
            }
        }
    }

    &__descriptor {
        font-family:'Merriweather', sans-serif ;
        padding: 1em 25vw;

        &__type {
            margin: 0;
            padding: 0 1em;

            &__highlight {
                font-family: 'Audiowide', arial !important;
            }
        }
    }

    &__part1 {
        font-family: 'Inter',sans-serif; 
       
        &__cardskill {
            height: 48vh;
            display: flex;
            padding: 0.5em 25vw;

            &__skill-item {
                width: 20vw;
                height: 50vh;
                margin: 0.5vw;
                padding: 0.5vw;
                background-color: grey;
                align-items: center;

                &__item-title {
                    text-align: center;
                    font-family: 'K2D', sans-serif;
                }

                &__item-text {
                                    text-align: center;
                                    font-family: 'K2D', sans-serif;
                }

                &__item-divider {
                    width: 100%;
                    border-bottom: solid 1px #000;
                }

                &__item-subtitle {
                    text-align: center;
                    font-family: 'K2D', sans-serif;
                }
                
                &__item-list {
                    text-align: center;
                    text-decoration: none;
                }
            }
        }

        &__bluespace {

            padding: 6vh 25vw;
            background-color: #1E86DF;
        }
    }
    
    &__part2 {
        font-family: 'Inter',sans-serif;

       &__cardworks {
            display: flex;
            padding: 0.5em 25vw;

            &__work-item {
                width: 20vw;
                height: 50vh;
                margin: 0.5vw;
                padding: 0.5vw;
                background-color: grey;
                align-items: center;
                text-decoration: none;
            }
        
        }
       
    } 
    
    &__footer{
        padding: 0.5em 30vw;
        background-color: #1E86DF;
        color: #FFFFFF;
        font-family: 'Inter',sans-serif;
        display: flex;
        flex-direction: row;
    }
}