body {
    margin: 0;
    border: 0;
}

.firstpage-main {
    height: 100vh;
    //for fitting the images
    overflow-y: auto;
    overflow-x: hidden;
    //perspective plays important part on way it is shown on-screen
    perspective: 20px;
    
    &__navbar {
        height: 4em;
        background-color: #fffbf0;
        justify-content: space-between;
        padding: 1%;
        &__item{
            list-style: none;
            display: inline;
            text-decoration: none;
            padding: 5px 20px;
            &__hyperlink{
                overflow: hidden;
                position: relative;
                display: inline-block;
                font-family: "Helvetica", "Arial", sans-serif;
                font-size: 1.5rem;
                text-decoration: none;
                color: #004369;

                &::before, &::after
                {
                content: '';
                position: absolute;
                width: 100%;
                left: 0;
                }

                &::before
                {
                    background-color: #54b3d6;
                    height: 2px;
                    bottom: 0;
                    transform-origin: 100% 50%;
                    transform: scaleX(0);
                    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                }

                &::after 
                {
                    content: attr(data-replace);
                    height: 100%;
                    top: 0;
                    transform-origin: 100% 50%;
                    transform: translate3d(200%, 0, 0);
                    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                    color: #54b3d6;
                }
            
                &:hover::before {
                    transform-origin: 0% 50%;
                    transform: scaleX(1);
                }
                
                &:hover::after {
                    transform: translate3d(0, 0, 0);
                }
            } 

        }
    }
    
    &__header-parallax {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        transform-style: preserve-3d;
        z-index: -1;
        object-fit: contain;

        //back image (sky)
        &__background {
            height: 800px;
            width: 120vw;
            transform: translateZ(-30px) scale(3);
            vertical-align: text-top;
            z-index: -1;

        }
        //inbetween image (mountains)
        &__midground {
            position: absolute;
            transform: translateZ(-20px) scale(3);
            height: 120vh;
            width: 100vw;
            object-fit: cover;
            z-index: -1;
            
        }
        //front image (mountainside forests)
        &__foreground {
            transform: translateZ(-10px) scale(2);
            position: absolute;
            height: 120vh;
            width: 100vw;
            object-fit: cover;
            z-index: -1;
            
        }
    }

    &__upper-section {
        background-color: #fffbf0;
        padding: 20px;

        &__title {
            font-size: 3em;
            font-family: "Helvetica", "Arial", sans-serif;
            color: #004369;
            padding: 20px;
            
        }
    }
    //box with text and counter
    &__content-highlights {
        position: absolute;
        width: 100%;
        height: 900px;
        vertical-align: text-bottom;
        background-color: #004369;
        background-image: linear-gradient(#004369,#c0f0f7);
    

        &__section{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            
            &__details {
                padding: 2em;
                font-family: "Helvetica", "Arial", sans-serif;;
                color: /*#c0f0f7*/ #fffbf0;

                &__Topic{
                padding: 0 0 2em;    
         
                }

               

               
            
            &__horiz-frame{
                overflow-x: auto;
                width: 80vw;
                height: 100%;
                display: grid;
                grid-template-columns: auto;
                gap: 1em;
                grid-row: 2/3;
                grid-column: 1/3;
                grid-template-columns: repeat(6, 0.4fr);
                grid-template-rows: 1fr;
                margin: 0 auto;
                }
            }
        }
    }  
}
