

body {
    margin: none !important;
}


//main, header and bodies

.main {
    background-color: #f5f5f5;

    &__header {
        padding: 0.5em 20vw;
        background-color: #1E86DF;
        color: #FFFFFF;
        font-family: 'Inter',sans-serif;
        &__list {
            &__item{
                list-style-type: none;
                float: right;

            }
        }
    }

    &__part1 {
        font-family: 'Inter',sans-serif; 
        &__cardskill {
            padding: 0.5em 20vw;
        }
        &__bluespace {
            padding: 0.5em 20vw;
            background-color: #1E86DF;
        }
    }
    
    &__part2 {
        font-family: 'Inter',sans-serif;
       &__cardworks {
            padding: 0.5em 20vw;
       }
    } 
    
    &__footer{
        padding: 0.5em 20vw;
        background-color: #1E86DF;
        color: #FFFFFF;
        font-family: 'Inter',sans-serif;
        display: flex;
        flex-direction: row;
    }
}